@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    /* background: linear-gradient(to bottom right, #70ffcf, #49fcc0); */
    background-image: url(../images/banner.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.form_container{
    width: 450px;
    background-color: rgba(87, 87, 87, 0.336);
    border-radius: 10px;
    padding: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    color: #ffffff;
}

.backBtn{
    margin-top: 30px;
}

.backBtn a{
    color: aqua;
    font-size: 14px;
}

.backBtn a:hover{
    color: rgb(255, 255, 255);
}